.venv/
__pycache__/
build/
/*.log
/src/tinyoscquery__orig
*.log
/src/configg.json
/src/unborkage.py
/zeroconf_browser.py
/toastacuga-on-fire.png
/toastacuga-on-fire-fs8.png
pngquant.exe
Drag PNG here to reduce palette automatically.bat
/docs/teaser.mp4.x264.stats
/docs/teaser.mp4.x264.stats.mbtree
